.App {
	margin-left: 20px;
	margin-right: 20px
}

.word {
	font-family: serif;
	padding: 2px;
	background-color: pink;
	font-size: 20px;
	float: left;
	margin: 8px;
	cursor: move;
	opacity: 0.8;
  box-shadow: 2px 2px 1px #888888;
}

.magnet {
	font-family: serif;
	padding: 2px;
	background-color: pink;
	font-size: 20px;
	float: left;
	margin: 8px;
	opacity: 0.8;
  box-shadow: 2px 2px 1px #888888;
}

.card-magnet {
	font-family: serif;
	padding: 2px;
	background-color: pink;
	font-size: 20px;
	float: left;
	margin: 8px;
	opacity: 0.8;
  box-shadow: 2px 2px 1px #888888;
}

.playground {
  position:relative
}

h1 {
  font-family: 'Shrikhand';
  font-size: 40px;
  font-weight: lighter;
}

.ButtonDiv {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  border-top: 1px dashed #8c8b8b;
}

.poem-card {
  height: 150px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 15px;
  border: 0.5px solid black;
  box-shadow: 5px 5px 4px #888888;
}

.detail-link {
  font-size: 15px;
  text-decoration: none;
  color: black;
  float: right;
}

.search {
  margin: 20px;
  width: 40%;
}
