.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.word {
	font-family: serif;
	padding: 2px;
	background-color: pink;
	font-size: 20px;
	float: left;
	margin: 8px;
	cursor: move;
	opacity: 0.8;
}

.playground {
  position:relative
}

h1 {
  font-style: italic;
}

.ButtonDiv {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.line {
  /*position: fixed;
  bottom: 200px;*/
  position: fixed;
  bottom: 100px;
  border-top: 1px dashed #8c8b8b;
}
