div.Nav {
}

div.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.Nav h1 {
  float: left;
  padding-left: 10px;
  margin-top: 5px;
}

div.Nav li {
  float: right;
}

div.Nav li a {
  display: block;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  color: black
}

div.Nav li a:hover {
  display: block;
  color: pink
}

.logo {
  text-decoration: none;
  color: black;
  transition: all .25s linear;
}

.logo:hover {
  text-decoration: none;
  color: #C2F3F2;
  transform: scale(4);
}
